In [1]:
import pandas as pd

In [3]:
result = pd.read_csv('1result.csv')

In [14]:
Interviewee = result[result['Role']=='Interviewee']

In [15]:
len(Interviewee)

123

In [16]:
Interviewee[Interviewee['Predicted Label'] == 'Tension']

,Content,Role,Predicted Label
3,"Well, we were very hard working, six children,...",Interviewee,Tension
9,"Well, I raised in the spirit of Judaism.",Interviewee,Tension
11,"No, the school itself, in this little city, wa...",Interviewee,Tension
15,"Yes, I did. I felt it, maybe not personally, b...",Interviewee,Tension
19,Yes there were Zionists in the city. There wer...,Interviewee,Tension
...,...,...,...
223,"Well, number one it was I wasn't too smart to ...",Interviewee,Tension
225,"Well, let me tell you, I went to church for qu...",Interviewee,Tension
229,"Let me tell you, during the war, I really thou...",Interviewee,Tension
231,"Well, when I went to America, of course, in Am...",Interviewee,Tension
243,To record I could just tell you one thing. The...,Interviewee,Tension

In [17]:
75/123

0.6097560975609756